.card{
    width: 460px;
    background-color: #fff;
    padding: 15px;
    font-size: 2rem;
    border-radius: 12px;
    box-shadow: -2px 16px 29px -13px rgba(0,0,0,0.61);
    -webkit-box-shadow: -2px 16px 29px -13px rgba(0,0,0,0.61);
    -moz-box-shadow: -2px 16px 29px -13px rgba(0,0,0,0.61);
    &-header{
        padding: 5px 0 20px 15px!important;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        h3{
            font-family: 'Poppins', sans-serif;
            font-size: 2.5rem;
            background-color: rgb(9,9,121);
            background: linear-gradient(45deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 6%, rgba(139,43,223,1) 46%, rgba(201,2,218,0.8827906162464986) 83%, rgba(179,26,175,0.87718837535014) 96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-body{
        padding: 25px;
    }

    &-footer{
        padding: 15px 15px 0 25px;
        border-top: 1px solid rgba(0,0,0,0.2);
        &--text{
            display: flex;
            justify-content: space-between;
            .partial1, .partial2{
                font-size: 1.2rem;
            }
        }
    }
}